# Local development:
# DATABASE_URL=sqlite:///./identity_coach.db

# Supabase Session Pooler:
DATABASE_URL=postgresql+psycopg://postgres.attrqdzflzbcblygqect:YOUR_DATABASE_PASSWORD@aws-1-eu-central-2.pooler.supabase.com:5432/postgres?sslmode=require

SECRET_KEY=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRE_MINUTES=1440
